apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: 
- namespace.yaml

helmCharts:
  - name: crossplane
    repo: https://charts.crossplane.io/stable
    version: 2.1.1
    releaseName: crossplane
    namespace: crossplane-system
    valuesFile: values.yaml

namespace: crossplane-system