apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- root-ca.yaml
- intermediate-ca.yaml
- cloudflare-apikey-secret.yaml
- letsencrypt-issuer.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2
    releaseName: cert-manager
    namespace: cert-manager
    valuesFile: values.yaml
