apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: 
- namespace.yaml
- database.yaml

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: 2025.12.1
    releaseName: authentik
    namespace: authentik-system
    valuesFile: values.yaml

patches:
- path: dns-patch.yaml
  target:
    kind: Deployment
    name: authentik-server
- path: dns-patch.yaml
  target:
    kind: Deployment
    name: authentik-worker

namespace: authentik-system